<main class="container">

    <div class="row">
        <h1>User Decks</h1>
    </div>

    <section class="row">
        {{#each decks}}
              <div class="jumbotron col-md-6 col-md-offset-3 deck" id="{{this.deck_id}}">
                <h3>{{this.deck_title}}</h3>
              </div>
        {{/each}}
        {{#each deck}}
        <div class="jumbotron col-md-6 col-md-offset-3 deck" id="{{this.card_id}}">
          <h3>{{this.front}}</h3>
        </div>
        {{/each}}
    </section>

</main>
