<div class="login">
    <form method="post">
      <h1>FLASH</h1>
        <div class="input-field input">
            <input type="text" name="username" placeholder="Username">
        </div>

        <div class="input-field input">
            <input type="password" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary btn-block btn-large">Login</button>
    </form>
    <p class='error'>{{error}}</p>
</div>
