<section class="signup">
    <div class="row">
                <form method="post">
                    <div class="input-field">
                        <input type="text" name="username">
                        <label>User Name: </label>
                    </div>
                    <div class="input-field signup-input">
                        <input type="password" name="password">
                        <label>Password: </label>
                    </div>
                    <div class="input-field signup-input">
                      <input type="password" name="confirm_password">
                      <label>Confirm Password: </label>
                    </div>
                    <div class="input-field signup-input">
                        <input type="text" class="validate" name="email">
                        <label class="active white-text">Email: </label>
                    </div>
                    <button type="submit">Create Login</button>
                </form>
                <p>{{error}}</p>
    </div>
</section>
