<div class="login">
    <form method="post">
        <div class="input-field input">
            <input type="text" name="username" placeholder="Username">
        </div>
        <div class="input-field input">
            <input type="text" class="validate" name="email" placeholder="Email">
        </div>
        <div class="input-field input">
            <input type="password" name="password" placeholder="Password">
        </div>
        <div class="input-field input">
            <input type="password" name="confirm_password" placeholder="Confirm Password">
        </div>
        <button type="submit" class="btn btn-primary btn-block btn-large">Create Login</button>
    </form>
    <p>{{error}}</p>
</div>
