<head>
    <title>{{title}}</title>
    <meta name=“viewport” content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href='https://fonts.googleapis.com/css?family=Raleway:500,600,700,800,900,400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/flash.js"></script>
</head>
<body class="section_overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-12"></div>
        </div>
        <div class="row">
            <div class="col-md-10"></div>
            <a id="signupLink" class="btn home-btn col-md-2 fadeOutUp indexBtn" href="/" role="button">Login</a>
        </div>
    </div>
    <div class="login">
        <img class="img-responsive center-block" width="175" height="175" src="/img/flashLogo500tranny.png" alt="">
        <h1>FLASH</h1>
        <form method="post">
            <div class="input-field input">
                <input type="text" name="username" placeholder="Username">
            </div>
            <div class="input-field input">
                <input type="text" class="validate" name="email" placeholder="Email">
            </div>
            <div class="input-field input">
                <input type="password" name="password" placeholder="Password">
            </div>
            <div class="input-field input">
                <input type="password" name="confirm_password" placeholder="Confirm Password">
            </div>
            <button type="submit" class="btn home-btn indexBtn fadeOutUp center-block">Signup : )</button>
        </form>
        <p class="error">{{error}}</p>
    </div>
</body>
