/*NAV*/
.logo {
  height: inherit;
}

.navbar {
  height: 5.0em;
}

.navBtn {
  background-color: #E5A21D;
  color: white;
  margin: 1em 1em;
}

body {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/leather_1.png");
}











/*CARD FLIPPING*/

.card_front,
.card_back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.6s;
          transition: transform 0.6s;
}

.card_back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.click.flipped .card_front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.click.flipped .card_back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
